.App {
  text-align: center;
}

.container {
  border: 1px solid;
}

.header {
  /* Image by: Fatane Rahimi */
  background-image: url("https://images.unsplash.com/photo-1658431618511-adeba775bd66?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1388&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
}

.hamburger-icon {
  position: absolute;
  top: 20px;
  left: 20px;
}

.hamburger-icon i {
  font-size: 2rem;
  color: white;
}

.hamburger-icon:hover {
  cursor: pointer;
}

.header-logo {
  position: absolute;
  right: 30px;
  top: -10px;
  font-family: "Leckerli One", cursive;
  color: white;
}

.header-logo:hover {
  cursor: pointer;
}

.header-words {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  text-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.5);
}

.header-words h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.header-words p {
  width: 65%;
  margin-top: -10px;
}

/* Features */

.features {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 50px;
}

.features-header {
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
}

.features-description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.feature {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  width: 300px;
  height: 350px;
  margin-top: -20px;
}

.feature:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
}

.feature-image {
  position: absolute;
  top: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 100%;
  height: 50%;
  margin: 0;
}

.feature-title {
  position: absolute;
  bottom: 100px;
}

.feature-descriptions {
  position: absolute;
  bottom: 0px;
  width: 95%;
}

/* Subscribe */

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 50px;
}

.subscribe-header {
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
}

.subscribe-description {
  margin-top: -20px;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.subscribe-form button {
  border-radius: 15px;
  border: 1px solid;
  background-color: #f5f5f5;
  padding: 10px;
  width: 250px;
  height: 60px;
  font-size: 1rem;
  font-weight: bold;
}

.subscribe-form button:hover {
  cursor: pointer;
  background-color: #00ff00;
  box-shadow: 0px 0px 15px 0px rgba(0, 255, 0, 0.3);
  border: none;
}

/* Subscribe form page */

.subscribe-page {
  width: 600px;
}

.close {
  display: flex;
  justify-content: flex-end;
  margin-top: -15px;
  margin-bottom: 30px;
}

.close:hover {
  cursor: pointer;
}

.subscribe-page form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 50px;
}

.subscribe-page button {
  border-radius: 15px;
  border: 1px solid;
  background-color: #00ff00;
  padding: 10px;
  width: 250px;
  height: 60px;
  font-size: 1rem;
  font-weight: bold;
}

.names,
.password {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.names input,
.password input {
  width: 47%;
  height: 35px;
}

.email {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px auto;
}

.email input {
  margin: 10px 0;
  height: 35px;
}

/* Address Form */

.address {
  width: 100%;
}

.address-number input,
.po-apt input {
  width: 100%; /* Set the width to 100% to fill up the parent div */
  height: 40px;
  margin: 15px 0;
  box-sizing: border-box;
}

.address-city-state-zip {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

#zip {
  width: 13%;
}

#city {
  width: 40%;
}

select {
  width: 30%;
  height: 40px;
}

.form-button {
  margin-top: 20px;
}

#address,
#address1 {
  margin-bottom: 0px;
}
